<h1 class="mt-4 mb-4 text-primary fs-2">Bem vindo a home!</h1>

<a
  href="/lista"
  class="d-block mb-4 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
>Ir para listas</a>

<form action="/lista/insertProdutos" method="post">
  <div class="form-group mb-3">
    <label for="produto">Produto</label>
    <input type="text" class="form-control" id="produto" name="nome" />
  </div>
  <div class="form-group  mb-3" >
    <label for="preco">Preço</label>
    <input type="text" class="form-control" id="preco" name="preco" />
  </div>
  <div class="form-group mb-3">
    <label for="descricao">Descrição</label>
    <input type="text" class="form-control" id="descricao" name="descricao" />
  </div>

  <div class="form-group mb-3" >
    <button type="submit" class="btn btn-primary">Enviar</button>

    <button type="reset" class="btn btn-danger">Limpar</button>
  </div>
</form>